.sikanpio {
	font-weight:bold;
	font-size: 2em;
	text-align: left;
	margin-top: 10vh;
}
.sikanpio > div{
	margin: 1em;
  margin-top: 20px;
}
.sikanpio > div > div{
	margin: 1em 0;
}
.sikanpio .jit {
  color: white;
  font-size: 1.4rem;
  background-color: #ff7bac;
}

.sikanpio .sikan{
  color: #ff931e;
  font-size: 1.2rem;
}
.sikanpio .tebok{
  color: white;
  font-size: 1.2rem;
}
.sikanpio .sootsai{
  color: #7ac943;
  font-size: 1.2rem;
}
