.App {
  text-align: center;
  background-color: #282c34;
  padding-bottom: 100px;
}

.App-logo {
  height: 65vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ui.massive.header {
  font-size: 7vmin;
  color: #ffffff !important;
  text-shadow: 1px 1px 10px #777;
}


.ui.massive.header > .sub.header{
  font-size: 3vmin;
  color: #ffffff !important;
  text-shadow: 1px 1px 10px #777;
}

.ui.massive.si-ki.header {
  color: #52bce4 !important;
  text-shadow: 0px 0px 0px #ffffff;
}

.App-link {
  color: #09d3ac;
}

.App-tsoo {
  padding-top: 10vmin;
  width: 50vw;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  .App-tsoo {
    padding-top: 10vmin;
    width: 80vw;
    margin: 0 auto;
  }

  .App-flex-box > div {
    background-color: #dddddd;
  }
}

.App-flex-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.App-flex-box > div {
  width: 50%;
  height: 50%;
  overflow: hidden;
}

.App-flex-box > div img {
  /*transition: transform .5s ease;*/
  /*transform-origin: 0 0;*/
  transition: transform .25s, visibility .25s ease-in, opacity .25s;
}

.App-flex-box > div:hover img {
  transform: scale(1.05);
  opacity: 0.9;
}

.tsiatbok-image {
  background-color: #333;
}

/*Bé-phiò liú-á*/
.App-buy {
  padding-top: 10vh;
}
.ui.massive.inverted.button {
  color: #7ac943 !important;
  box-shadow: 0 0 2px 3px #52bce4,
              0 0 2px .2px #52bce4 inset !important;
}

.ui.massive.inverted.button:hover {
  color: #ffffff !important;
  box-shadow: 0 0 3px 4px #52bce4,
              0 0 2px .2px #52bce4 inset !important;
  background-color: #282c34 !important;
}


